        body {

            font-family: 'Times New Roman', Times, serif;
            font-size: 1rem;

        }

        .white-border {
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        }

        header {
            color: #fff;
            padding: 10px;
            background: rgb(2, 0, 36);
            background: linear-gradient(0deg, rgba(2, 0, 36, 1) 48%, rgba(169, 36, 53, 1) 97%);
        }

        .logo {
            width: 120px;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        nav ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }

        nav li {
            margin-left: 20px;
        }

        nav a {
            text-decoration: none;
            color: white;
            padding: 8px 12px;
            border-radius: 5px;
        }

        nav a:hover {
            background-color: #A92435;
        }


        .hero {
            background-image: url(img/torre-once.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;

        }

        /* animacion para h2 */
        .animate-blink {
            animation: blink 1s step-start infinite;
        }

        @keyframes blink {

            0%,
            100% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }
        }

        .cards-contenedor {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
            background-color: #55555524;
        }

        .card {
            width: 300px;
            margin: 20px;
            padding: 10px;
        }

        button {
            background-color: #A92435;
            color: white;
            border-radius: 25px;
            padding: 20px;
        }

        button:hover {
            background-color: #000000;
            /* Green */
            color: white;
        }


        footer {
            background: black;
            color: #A92435;
            text-align: center;
            padding: 3 3 3 3;
        }

        footer a {
            color: #A92435;
        }

        footer a:hover {
            color: white;
        }

        .footer-col {
            display: flex;
            padding-top: 20px;
        }

        .footer-logo {
            width: 150px;
        }

        .footer-columna {
            flex: 1;
            margin: 0 10px;
            text-align: center;
        }

        .footer-columna .texto-columna {
            color: white;
        }